* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hp-body {
    background-color: #F1F7ED;
}

.profile {
    background-color: white;
}
/* SIDEBAR */
.sidebar {
    width: 72px;
    background-color: #243E36;
}

.sb-btn {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;

    position: relative;
    overflow: hidden;
}

.sb-icon-cont {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

/* to be removed */
.sidebar-icon {
    width: 40px;
    height: 40px;
}
/*  */

.sidebar-label {
    font-size: 12px;
    opacity: 0;
    transform: translateY(-4px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

/* ICONS */
.sb-dark {
    opacity: 0;
}

.sb-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
}

.sb-prof-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
    transition: border 0.1s ease;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
