@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Concert+One&family=DynaPuff:wght@400..700&family=Finger+Paint&family=Goldman:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=Permanent+Marker&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&family=Shippori+Antique&family=Squada+One&family=TASA+Explorer:wght@400..800&display=swap');
*{
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	transition: 0.5s;
}

.MainContainer{
	width: 100%;
	height: 100%;
	background: #F1F7ED;
	display: none;
}

.circle1{
	width: 170px;
	height: 70px;
	opacity: 95%;
	background: #243E36;
	border-radius: 100%;
	box-shadow: 0px 0px 100px 200px #243E36;
	position: absolute;
	left: 45%;
	top: 22%;
	animation: circle1 10s infinite ease-in-out;
	animation-delay: 0.5s;
	display: none;
}
.circle2{
	width: 170px;
	height: 70px;
	opacity: 90%;
	background: #7CA982;
	border-radius: 100%;
	box-shadow: 0px 20px 100px 200px #7CA982;
	position: absolute;
	left: 90%;
	top: 67%;
	animation: circle2 10s infinite ease-in-out;
	animation-delay: 0.5s;
	display: none;
}
.circle3{
	width: 170px;
	height: 70px;
	opacity: 90%;
	background: #FADE6B;
	border-radius: 100%;
	box-shadow: 0px 20px 100px 200px #FADE6B;
	position: absolute;
	left: 6%;
	top: 40%;
	animation: circle3 10s infinite ease-in-out;
	animation-delay: 0.5s;
	display: none;
}

@keyframes circle1 {
	25%{ left: 6%; top:22%;width: 250px; height: 250px}
	50%{ left: 45%; top:67%; width: 190px; height: 190px}
	75%{ left: 80%; top:22%;}
}

@keyframes circle2 {
	25%{ left: 45%; top:13%; width: 250px; height: 250px}
	50%{ left: 80%; top:20%; width: 190px; height: 190px}
	75%{ left: 6%; top:13%;}
}

@keyframes circle3 {
	25%{ left: 90%; top:70%; width: 250px; height: 250px}
	50%{ left: 10%; top:20%; width: 190px; height: 190px}
	75%{ left: 45%; top:70%;}
}


.AdminButton{
	width: 35px;
	height: 35px;
	padding: 0.5%;
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 9%;
	left: 28%;
	border-radius: 20px 20px;
	transition: transform 0.5s;
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	cursor: pointer;
	z-index: 2;
	display: none;
}

.AdminButtonTitle{
	top: 9.7%;
	left: 18.2%;
	font-family: "TASA Explorer", sans-serif;
	font-size: 20px;
	color: black;
	position: absolute;
	text-align: left;
	font-weight: 300;
	padding: 0.5%;
	width: 11%;
	border-radius: 20px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-weight: 500;
	z-index: 1;
	transition: transform 0.5s;
	display: none;
}


.CashierButton{
	width: 35px;
	height: 35px;
	padding: 0.5%;
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 17%;
	left: 28%;
	border-radius: 20px 20px;
	transition: transform 0.5s;
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	cursor: pointer;
	z-index: 2;
	display: none;
}

.CashierButtonTitle{
	top: 17.7%;
	left: 17.8%;
	font-family: "TASA Explorer", sans-serif;
	font-size: 20px;
	color: black;
	position: absolute;
	text-align: left;
	font-weight: 300;
	padding: 0.5%;
	width: 12%;
	border-radius: 20px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-weight: 500;
	z-index: 1;
	transition: transform 0.5s;
	display: none;
}

.StockControllerButton{
	width: 35px;
	height: 35px;
	padding: 0.5%;
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 25%;
	left: 28%;
	border-radius: 20px 20px;
	transition: transform 0.5s;
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	cursor: pointer;
	z-index: 2;
	display: none;
}

.StockControllerButtonTitle{
	top: 25.7%;
	left: 12.8%;
	font-family: "TASA Explorer", sans-serif;
	font-size: 20px;
	color: black;
	position: absolute;
	text-align: left;
	font-weight: 300;
	padding: 0.5%;
	width: 16%;
	border-radius: 20px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-weight: 500;
	z-index: 1;
	transition: transform 0.5s;
	display: none;
}

.AdminButton:hover, .CashierButton:hover, .StockControllerButton:hover{
	transform: scale(1.1);
	background-color: #243E36;
	color: whitesmoke;
}

.AdminButton:active, .CashierButton:active, .StockControllerButton:active{
	transform: scale(0.9);
	background-color: #49615A;
	color: whitesmoke;
}
/**************************************Admin Container*********************************************/
.AdminloginContainer{
	width: 35%;
	height: 80%;
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%);
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px 20px;
	backdrop-filter: blur(100px);
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	transition: transform 0.8s;
	display: none;
}

.Admincontents{
	display: none;
}
.Admintitleplace{
	left: 46%;
	top: 10%;
	position: absolute;
	width: 10%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
	transition: 0.5s;
	display: none;
}

.AdmintitleplaceAfter{
	left: 21%;
	top: 10%;
	position: absolute;
	width: 55%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
}


.Adminicon{
	background: 2% whitesmoke;
	width: 55px;
	height: 53px;
	position: absolute;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.AdminiconAfter{
	width: 42px;
	height: 40px;
	position: absolute;
	top: 13%;
	left: 2%;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.AdminTitleName{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left: 11%;
	opacity: 0%;
}

.AdminTitleNameAfter{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	transition: 0.5s ease-in-out;
	padding-left: 11%;
	display: smooth;
	opacity: 100%;
}

.AdminSign_in{
	font-family: "TASA Explorer", sans-serif;
	font-size: 55px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 800;
	top: 25%;
	left: 30%;
	transform: translate(-50%);
}
.AdminSign_in_continue{
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 300;
	top: 37%;
	left: 32%;
	transform: translate(-48%);
}

.AdminEmailTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 49%;
	left: 22.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.AdminEmail{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 47%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.AdminPasswordTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 60%;
	left: 17%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.AdminPassword{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 58%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.AdminshowPassword{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 60%;
	right: 16.5%;
	cursor: pointer;
}

.AdminshowPassword:hover{
	transform: scale(1.1);
}

.AdminCheckBoxTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 14px;
	position: absolute;
	top: 70.5%;
	left: 24.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.AdminCheckBox{
	width: 4%;
	height: 4%;
  	padding: 12px 20px;
  	position: absolute;
  	top: 70%;
	left: 12.5%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.AdminLoginbtn{
	width: 80%;
	height: 10%;
	background: #243E36;
	color: whitesmoke;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	font-family: "TASA Explorer", sans-serif;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
}

.AdminLoginbtn:hover{
	background: #7CA982;
	transform: translate(-50%) scale(1.1);
}

.AdminLoginbtn:active{
	background: #49615A;
	transform: translate(-50%) scale(1.0);
}

/**************************************End of Admin Container*********************************************/

/**************************************Cashier Container*********************************************/

.CashierloginContainer{
	width: 35%;
	height: 80%;
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%);
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px 20px;
	backdrop-filter: blur(100px);
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	transition: transform 0.8s;
	display: none;
}

.Cashiercontents{
	display: none;
}
.Cashiertitleplace{
	left: 46%;
	top: 10%;
	position: absolute;
	width: 10%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
	transition: 0.5s;
	display: none;
}

.CashiertitleplaceAfter{
	left: 21%;
	top: 10%;
	position: absolute;
	width: 55%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
}


.Cashiericon{
	background: 2% whitesmoke;
	width: 55px;
	height: 53px;
	position: absolute;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.CashiericonAfter{
	width: 42px;
	height: 40px;
	position: absolute;
	top: 13%;
	left: 2%;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.CashierTitleName{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left: 11%;
	opacity: 0%;
}

.CashierTitleNameAfter{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	transition: 0.5s ease-in-out;
	padding-left: 11%;
	display: smooth;
	opacity: 100%;
}

.CashierSign_in{
	font-family: "TASA Explorer", sans-serif;
	font-size: 55px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 800;
	top: 25%;
	left: 30%;
	transform: translate(-50%);
}
.CashierSign_in_continue{
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 300;
	top: 37%;
	left: 32.5%;
	transform: translate(-48%);
}

.CashierEmailTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 49%;
	left: 22.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.CashierEmail{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 47%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.CashierPasswordTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 60%;
	left: 17%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.CashierPassword{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 58%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.CashiershowPassword{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 60%;
	right: 16.5%;
	cursor: pointer;
}

.CashiershowPassword:hover{
	transform: scale(1.1);
}

.CashierCheckBoxTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 14px;
	position: absolute;
	top: 70.5%;
	left: 24.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.CashierCheckBox{
	width: 4%;
	height: 4%;
  	padding: 12px 20px;
  	position: absolute;
  	top: 70%;
	left: 12.5%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.CashierLoginbtn{
	width: 80%;
	height: 10%;
	background: #243E36;
	color: whitesmoke;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	font-family: "TASA Explorer", sans-serif;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
}

.CashierLoginbtn:hover{
	background: #7CA982;
	transform: translate(-50%) scale(1.1);
}

.CashierLoginbtn:active{
	background: #49615A;
	transform: translate(-50%) scale(1.0);
}

/**************************************End of Admin Container*********************************************/

/**************************************StockController Container*********************************************/

.StockControllerloginContainer{
	width: 35%;
	height: 80%;
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%);
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px 20px;
	backdrop-filter: blur(100px);
	box-shadow: 0px 0px 50px 0.5px whitesmoke;
	content-visibility: 100%;
	transition: transform 0.8s;
	display: none;
}

.StockControllercontents{
	display: none;
}
.StockControllertitleplace{
	left: 46%;
	top: 10%;
	position: absolute;
	width: 10%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
	transition: 0.5s;
	display: none;
}

.StockControllertitleplaceAfter{
	left: 21%;
	top: 10%;
	position: absolute;
	width: 55%;
	height: 9%;
	border-radius: 50px;
	border: 2px solid #CBCBCB;
	background: whitesmoke;
}


.StockControllericon{
	background: 2% whitesmoke;
	width: 55px;
	height: 53px;
	position: absolute;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.StockControllericonAfter{
	width: 42px;
	height: 40px;
	position: absolute;
	top: 13%;
	left: 2%;
	transition: 0.5s;
	background: transparent;
	border-radius: 0px 7px 0px 15px;
}

.StockControllerTitleName{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left: 11%;
	opacity: 0%;
}

.StockControllerTitleNameAfter{
	font-family: "TASA Explorer";
	color: black;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5%;
	transition: 0.5s ease-in-out;
	padding-left: 11%;
	display: smooth;
	opacity: 100%;
}

.StockControllerSign_in{
	font-family: "TASA Explorer", sans-serif;
	font-size: 55px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 800;
	top: 25%;
	left: 30%;
	transform: translate(-50%);
}
.StockControllerSign_in_continue{
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: 300;
	top: 37%;
	left: 39%;
	transform: translate(-48%);
}

.StockControllerEmailTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 49%;
	left: 22.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.StockControllerEmail{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 47%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.StockControllerPasswordTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 16px;
	position: absolute;
	top: 60%;
	left: 17%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.StockControllerPassword{
	width: 79%;
  	padding: 12px 20px;
  	position: absolute;
  	box-sizing: border-box;
  	border: none;
  	border-bottom: 2px solid #00214d;
  	background: transparent;
  	top: 58%;
	left: 49%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	font-family: "TASA Explorer", sans-serif;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

.StockControllershowPassword{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 60%;
	right: 16.5%;
	cursor: pointer;
}

.StockControllershowPassword:hover{
	transform: scale(1.1);
}

.StockControllerCheckBoxTitle{
	color: black;
	font-family: "TASA Explorer", sans-serif;
	font-size: 14px;
	position: absolute;
	top: 70.5%;
	left: 24.5%;
	transform: translate(-50%);
	transition: 0.5s ease-in-out;
}

.StockControllerCheckBox{
	width: 4%;
	height: 4%;
  	padding: 12px 20px;
  	position: absolute;
  	top: 70%;
	left: 12.5%;
	transform: translate(-50%);
	outline: none;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.StockControllerLoginbtn{
	width: 80%;
	height: 10%;
	background: #243E36;
	color: whitesmoke;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	font-family: "TASA Explorer", sans-serif;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
}

.StockControllerLoginbtn:hover{
	background: #7CA982;
	transform: translate(-50%) scale(1.1);
}

.StockControllerLoginbtn:active{
	background: #49615A;
	transform: translate(-50%) scale(1.0);
}

/**************************************End of StockController Container*********************************************/