/* SIDEBAR */
.sidebar {
    width: 72px;
    background-color: #243E36;
}

.sb-btn {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.sb-icon-cont {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

/* to be removed */
.sidebar-icon {
    width: 40px;
    height: 40px;
}
/*  */

.sidebar-label {
    font-size: 12px;
    opacity: 0;
    transform: translateY(-4px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

/* ICONS */
.sb-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
}

.sb-prof-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
    transition: border 0.1s ease;
}

.sidebar-link:hover .sb-prof-icon {
    border: 2px solid white;
    border-radius: 100%;
}

.sb-dark {
    opacity: 0;
}

/* HOVER */
.sidebar-link:hover .sidebar-label {
    opacity: 1;
    transform: translateY(0);
}

.sidebar-link:hover .sb-white {
    opacity: 0;
}

.sidebar-link:hover .sb-dark {
    opacity: 1;
}

.sidebar-link:hover .sb-btn {
    background: white;
}

/* ACTIVE */
/* .sidebar-link:active .sb-btn {
    background-color: gainsboro;
} */

